.crs-main-sct{
    width: 100vw;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.crs-sdm-bnnr{
    width: 83vw;
    height: 490px;
    /* background-color: #fff; */
    background-image: url('./Images/0001.jpg');
    background-size: cover;
    margin: 30px;
    border-radius: 20px;
    text-align: right;
}

.crs-bnnr-lnk{
    padding: 10px 20px;
    background-color: #f5ff00;
    text-decoration: none;
    font-weight: 500;
    border-radius: 10px;
    margin: 50px;
}

.crs-sct-two{
    width: 83vw;
    height: 150px;
    /* background-color: red; */
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: center;
}

.sub-ctr{
    width: 120px;
    height: 120px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.crs-count{
    font-size: 40px;
    margin-bottom: -10px;
}

.crs-reg-form{
    width: 80vw;
    height: auto;
    background-color: #dfdeee;
    border-radius: 10px;
    padding: 20px;
}

.crs-register-hd{
    margin-left: 10px;
}

.rows{
    width: auto;
    height: 50px;
    /* background-color: red; */
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.crs-dm-reg-inp{
    width: 400px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
    padding-left: 10px;
}

.crs-dm-reg-file{
    padding: 12px 72px;
    background-color: transparent;
    border:  1px solid #000;
    border-radius: 10px;
}

.crs-adm-reg-sbt{
    padding: 13px 173px;
    background-color: rgb(17, 17, 165);
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

